<form #f = "ngForm"  (submit)="editComentario(f)" role="form">
	<div class="row">
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
			<div class="form-group">
				<label for="">Comentario</label>
				<input type="text" class="form-control" 
						[(ngModel)]="contenido" 
						name="contenido" >
			</div>			
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
			<div class="form-group">
				<br>
				<button type="submit" class="btn btn-success">Editar</button>
			</div>
		</div>
	</div>
</form>
