/* You can add global styles to this file, and also import other style files */
body{
	background-color: #3D41F2;
}
a{
	cursor: pointer;
}
.loading{
	/*
		1em = 12px
	*/
	font-size: 4em;
	margin-top: 45vh;
	color: #4F4D4D;
	text-align: center;
}